<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4">
  <form
    [formGroup]="candidateForm"
    (ngSubmit)="onSubmit()"
    class="w-full max-w-md p-6 bg-white rounded-lg shadow space-y-6"
  >
    <h2 class="text-xl font-semibold text-center text-gray-800">Alta de Candidato</h2>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Ej. Juan" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="surname" placeholder="Ej. Pérez" />
    </mat-form-field>

    <div class="w-full">
      <label class="block mb-1 text-sm font-medium text-gray-700">Archivo Excel *</label>
      <input
        type="file"
        (change)="onFileSelected($event)"
        accept=".xlsx,.xls"
        class="block w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-4 file:border-0 file:bg-blue-600 file:text-white file:rounded hover:file:bg-blue-700"
      />
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="candidateForm.invalid"
      class="w-full"
    >
      Enviar
    </button>
  </form>
</div>